body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    position: absolute;
}

.container{
    width: 100%;
    height: auto;
    padding: 15px;
    background-image: url(./images/bg-header-desktop.png); 
    position: relative;
}

.container .logo{
    width: 100%;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 150px;
}

.textA h1{
    margin-top: -10px;
    font-size: 25px ;
}

h1{
    color: #4e4a4a;
    font-size: 28px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
}

.textA p{
    margin-top: -8px;
}

p{
    color: #ada8a8;
    font-size: 11px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    text-align: center; 
}

.button{
    display: flex;
    justify-content: center;
}

.button .link1{
    list-style-type: none;
    padding: 5px;
}

.button .link2{
    list-style-type: none;
    padding: 5px;
}

 .button .link1 li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
    border: 2px solid;
    background-color: #26baa4;
    text-align: center;
    border-radius: 20px;
    font-size: 12px;
    font-family:'Bai Jamjuree', sans-serif ;
    font-weight: 400;
}

.button .link2 li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
    border: 2px solid;
    background-color: #6173ff;
    list-style-type: none;
    text-align: center;
    border-radius: 20px;
    font-size: 12px;
    font-family:'Bai Jamjuree', sans-serif ;
    font-weight: 400;
}

 .textB h2{
    margin-top: 70px;

}
h2{
    color: #4e4a4a;
    font-size: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.textB p{
    font-size: 11px;
    margin-bottom: 40px;
}

.textC img{
    margin-left: -200px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.textC{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center; 
}

.row{
    list-style-type: none;
    margin-top: 80px;
}

.row li p{
   padding: 2px;
   color: #ada8a8;
    font-size: 11px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
}

.row li h4{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #4e4a4a;
}

.textD h3{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #4e4a4a;
}

.textD img{
    margin-top: 50px;
    margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.textE h3{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #4e4a4a;
}

.textE p{
    font-size: 11px;
}

.textF{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.textF .workflow1{
    list-style-type: none;   
}

.textF .workflow2{
    list-style-type: none;
}

.textF .workflow3{
    list-style-type: none;
}

.textF .workflow {
    display: flex;
    padding: 20px;
    justify-content: center;
    font-family: 'Bai Jamjuree', sans-serif;
    margin-top: 10px;
    margin-bottom: 50px;
}

.textF .workflow1 img{
    margin-left: 40px;  
}

.textF .workflow2 img{
    margin-left: 40px;
}

.textF .workflow3 img{
    margin-left: 40px;
}

.textF .workflow1 h4{
    margin-left: 2px;
    color: #4e4a4a;
}

.textF .workflow2 h4{
    margin-left: 2px;
    color: #4e4a4a;
}

.textF .workflow3 h4{
    margin-left: 15px;
    color: #4e4a4a;
}

.textF .workflow1 p{
    margin-left: -25px;
    font-size: 11px;
    padding: -5px;
    color: #ada8a8;
}

.textF .workflow2 p{
    margin-left: -25px;
    font-size: 11px;
    padding: -5px;
    color: #ada8a8;
}

.textF .workflow3 p{
    margin-left: -25px;
    font-size: 11px;
    padding: -5px;
    color: #ada8a8;
}

.textG {
    margin-bottom: 50px;
}
.textG img{
    display: inline-block;
    padding: -12px;
    padding-left: 8px;
   margin-left: 70px;
   margin-right: 40px;
   margin-bottom: 20px;
   text-align: center;
}
.textH h3{
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #4e4a4a;
}

.textH a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 28px;
    border: 2px solid;
    background-color: #26baa4;
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
    font-family:'Bai Jamjuree', sans-serif ;
    font-weight: 400;
}

.footer{
    width: 100%;
    height: auto;
    margin: auto;
    padding: -15px -30px;
    display: flex;
    background-color:#f5eeee;
    justify-content: space-evenly;
   
}

.footer .foot{
    list-style-type: none;
    color: #ebfbff;
    margin-top: 30px;
}

.footer .logodiv img{
    width :50px;
    margin-top: 50px;
}

.footer .foot li{
    margin-bottom: 20px;
}

.footer .foot li a{
    color: #4e4a4a;
    font-size: 11px;
    font-family:'Bai Jamjuree', sans-serif ;
    padding: -15px;
    text-decoration: none;
}

.footer .footiconsdiv li img{
    display: inline-block;
    padding: 8px;
    margin-top: 20px;
}

.footer .footiconsdiv{
    list-style-type: none;
}

@media only screen and (max-width: 768px){
    .container{
        overflow-x: hidden;
    }
    .container.logo{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    h1{
        width: 70%;
       display: flex;
       margin: auto;
       text-align: center;
       margin-bottom: 20px;
    }

    .textA p{
        width: 55%;
        display: flex;
         flex-wrap: wrap;
         margin: auto;
         text-align: center;
    }

    .button{
        display: inline-block;
        margin-left: 98px;
        margin-top: 30px;
        text-align: center;
        
    }
    
    h2{
        width: 50%;
        display: flex; 
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .textB p{
        width: 50%;
        display: flex;
        margin: auto;
        text-align: center;
        margin-bottom: 35px;
        
    }
    .textC img{
        width: 90%;
        margin-left: 40px;
    }

    .textC{
        display: inline-block;
        text-align: center;
        margin-bottom: 60px;
    }

    .textD h3{
        width: 45%;
        display: flex;
        margin: auto;
        text-align: center;
    }

    .textD p{
        width: 50%;
        display: flex;
        margin: auto;
        text-align: center;
        margin-top: 10px;
    }

    .textD img{
        width: 80%;
        margin-left: 35px;
    }

    .textE h3{
        width: 35%;
        display: flex;
        margin: auto;
        text-align: center;
    }
    
    .textE p{
        width: 35%;
        display: flex;
        margin: auto;
        text-align: center;
        margin-top: 20px;
    }

    .textF .workflow {
        display: inline-block;
        margin-left: -10px;
        text-align: center;
        margin-bottom: 10px;
    }

    .textF .workflow1 img{
        margin-left: -2px;  
    }
    
    .textF .workflow2 img{
        margin-left: -2px;
    }
    
    .textF .workflow3 img{
        margin-left: -2px;
    }

        .textF .workflow1 h4{
        margin-left: -2px;
    }
    
    .textF .workflow2 h4{
        margin-left: -2px;
    }
    
    .textF .workflow3 h4{
        margin-left: -2px;
    }
    
    .textF .workflow1 p{
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    .textF .workflow2 p{
        margin-left: 15px;
        margin-bottom: 20px;
    }
    
    .textF .workflow3 p{
        margin-left: 15px;
        margin-bottom: 20px;
    }
    

    .textG img{
        display: flex;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 15px;
        text-align: center;
        width: 20%;
    }

    .textH h3{
        width: 55%;
        display: flex;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .textH p{
        width: 40%;
        display: flex;
        margin: auto;
        text-align: center;
    }

    .footer{
        width: 125%;
        display: inline-block;
        margin: auto;
        background-color: #faf6f6;
        text-align: center;
        margin-left: -55px;
        
    }

    .footer .logodiv img{
        margin-left: 35px;
    }
    }

